<a href="https://colab.research.google.com/github/ppiont/cnn-soc-wagga/blob/master/data_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive # import drive from google colab
ROOT = "/content/drive"     # default location for the drive
print(ROOT)                 # print content of ROOT (Optional)
drive.mount(ROOT, force_remount=True)           # we mount the google drive at /content/drive

/content/drive
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
%cd "/content/drive/My Drive/Thesis/cnn-soc-wagga"

/content/drive/My Drive/Thesis/cnn-soc-wagga

In [0]:
%%capture

!pip install geopandas

In [9]:
import pandas as pd
df = pd.read_csv("data/germany_targets.csv", index_col = 0)
df.head()

        POINT_ID  coarse  clay  ...  GPS_LAT  GPS_LONG             geometry
7620  46563124.0       8  13.0  ...    51.13     14.79  POINT (14.79 51.13)
7663  46543152.0       5   3.0  ...    51.38     14.79  POINT (14.79 51.38)
7664  46543138.0      14   7.0  ...    51.26     14.77  POINT (14.77 51.26)
7745  46483136.0      17   7.0  ...    51.24     14.69  POINT (14.69 51.24)
7809  46443178.0       9   4.0  ...    51.62     14.67  POINT (14.67 51.62)

[5 rows x 18 columns]

In [0]:
import geopandas as gpd

In [0]:
gdf = gpd.GeoDataFrame(df, geometry = gpd.points_from_xy(df.GPS_LONG, df.GPS_LAT), crs = "EPSG:4326")

In [13]:
gdf.head()

        POINT_ID  coarse  clay  ...  GPS_LAT  GPS_LONG                   geometry
7620  46563124.0       8  13.0  ...    51.13     14.79  POINT (14.79000 51.13000)
7663  46543152.0       5   3.0  ...    51.38     14.79  POINT (14.79000 51.38000)
7664  46543138.0      14   7.0  ...    51.26     14.77  POINT (14.77000 51.26000)
7745  46483136.0      17   7.0  ...    51.24     14.69  POINT (14.69000 51.24000)
7809  46443178.0       9   4.0  ...    51.62     14.67  POINT (14.67000 51.62000)

[5 rows x 18 columns]

In [0]:
# We restrict to Germany
ax = world[world.name == "Germany"].plot(
    color='white', edgecolor='black')

# We can now plot our ``GeoDataFrame``.
targets.plot(ax=ax, marker = '.', column = "OC")
plt.show()